.bg-green{
    background-color: #248a75;
}

.bg-darkblue,
#bg-darkblue{
    background-color: #3A546D;
}

.dark{
    background-color: #2C3E50;
}

.white{
    color: white;
}
.darkblue{
    color: #3A546D;
}

.font-08{
    font-size: 80%;
}

.riga{
    height: 3px;
    width: 100%;
    background-color: white;
}

.stella-box{
    width: 50px;
}

.fa-star{
    transform: scale(0.9);
}
/* -------------------------------- */

.a-nav{
    text-decoration: none;
    color: white;
    padding: 12px;
}

#no-padding{
    padding-left: 0;
    padding-right: 0;
}

.logo{
    width: 200px;
    height: 200px;
}

.arrotonda > .col > img{
    border-radius: 10px;
}

.centralizza{
    margin: 0 auto;
}

.form-style{
    border-radius: 0;
    border:none;
    border-bottom: lightgrey 1px solid;
    padding-left: 0;
}

.altezzta-txt-area{
    height: 100px;
}

.cerchio{
    border: white 1px solid;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 100%;
}

.a-foot{
    text-decoration: none;
    color: #248a75;
}

@media screen and (max-width: 575px) {
    .fa-star{
        transform: scale(1.3);
    }
}