.bg-green{
    background-color: #248a75;
}

.bg-darkblue,
#bg-darkblue{
    background-color: #3A546D;
}

.dark{
    background-color: #2C3E50;
}

.white{
    color: white;
}
.darkblue{
    color: #3A546D;
}

.font-08{
    font-size: 80%;
}

#no-padding{
    padding-left: 0;
    padding-right: 0;
}

.logo{
    width: 200px;
    height: 200px;
}

.riga{
    height: 3px;
    width: 120px;
    background-color: white;
}

.arrotonda > .col > img{
    border-radius: 10px;
}

.cerchio{
    border: white 1px solid;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 100%;
}

a{
    text-decoration: none;
    color: #248a75;
}